<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <script>
        books = [
        "PG0001,the annoying elephants,199",
"PG0002,the gruffalo,159",
"PG0003,the gruffalo's child,129",
"PG0004,jump on board the animal train,99",
"PG0005,aliens love underpants,119",
"PG0006,aliens love underpants,119",
"PG0007,the tiger who came to tea,129",
"PG0008,mog's abc,129",
"PG0009,emergency,129",
"PG0010,I will not ever eat a tomato,169",
"PG0011,very hungry caterpiller,89",
"PG0012,Mr large in charge,89",
"PG0013,fiver minute peace,89",
"PG0014,kitten finds home,189",
"PG0015,little rabbit foo foo,159",
"PG0016,spanish book set of 7,400",
"PG0017,goose on the loose,99",
"PG0018,big pig on a dig,99",
"PG0019,sam sheep cant sleep,99",
"PG0020,shark in the park,99",
"PG0021,ted in the red bed,99",
"PG0022,Going to doctor,89",
"PG0023,moving house,89",
"PG0024,Going to school,89",
"PG0025,Going to party,89",
"PG0026,the snow storm,89",
"PG0027,the silly sheepdog,89",
"PG0028,moon zoom,89",
"PG0029,the firebird,89",
"H0001,king midas,69",
"H0002,the old woman who lived in shoe,69",
"H0003,the snow queen,69",
"H0004,cindrella,69",
"H0005,up,69",
"H0006,lion king,69",
"H0007,pocahontas,69",
"H0008,sleeping beauty,69",
"H0009,pumbaa runs away from home ,69",
"H0010,winnie th pooh and tiger too,69",
"H0011,jungle book,69",
"H0012,oliver and company,69",
"H0013,the lion king,69",
"H0014,finders keepers,69",
"H0015,aladdins and king of thieves,69",
"H0016,mowgli and kaa the python,69",
"H0017,toad and vixey,69",
"H0018,tinkerbell and lost tresure,69",
"H0019,aladdin,69",
"H0020,the little mermaid,69",
"H0021,the hunchback of nortedame,69",
"H0022,aladdin,69",
"H0023,cindrella,69",
"H0024,alice in wonderland,69",
"H0025,monstors inc,69",
"H0026,car 2,69",
"H0027,101 dalmatians,69",
"H0028,cindrella,69",
"H0029,belle to the rescue,69",
"H0030,monstors university,69",
"H0031,the princess and the pea,69",
"H0032,jack and beanstalk,69",
"H0033,Dumbo,69",
"H0034,peacocks,69",
"H0035,my a book,69",
"H0036,trolls,69",
"H0037,we honestly can look after dog,69",
"H0038,but excuse me that is my book,69",
"H0039,Guess how much I love you in summer,69",
"H0040,guess how much I love you in winter,69",
"H0041,the bonter folk,49",
"H0042,jack and beanstalk,49",
"H0043,snow white,49",
"H0044,sleeping beauty,49",
"H0045,the sharing surprise,49",
"H0046,the missing snowman,49",
"H0047,noah's ark,49",
"H0048,weird and wacky,49",
"H0049,micky mouse cloubhouse,49",
"H0050,thomas comes to breakfast,49",
"H0051,a birthday for boots,49",
"H0052,sports day,49",
"H0053,mr pload and noddy,49",
"H0054,evelyn's animal adventure,49",
"H0055,noddy at seaside,49",
"H0056,I am sleepy,49",
"H0057,puppies,49",
"H0058,unicorn needs your help,35",
"H0059,the gingerbread man,35",
"H0060,nurture trail,35",
"H0061,father christmas,35",
"H0062,bob the builder,35",
"H0063,santa's super sleidgh,35",
"H0064,little miss naughty,35",
"H0065,elizabeth helps to save platnet,35",
"H0066,thomas has bath,35",
"H0067,thomas and sarah dress up,35",
"H0068,mr noisy and gaint,35",
"H0069,I love you abudela,35",
"H0070,fairy story,35",
"H0071,postman pat's tresure hunt,35",
"H0072,thomas trouble with mud,35",
"H0073,evelyn's christmas wish,35",
"H0074,reading with phonics, rupanzel,35",
"H0075,blue dinosaur week countdown,35",
"H0076,animal parade,35",
"EB0001,Childern's First book of Animals,199",
"EB0002,Now Playing,149",
"EB0003,Why is the sky blue,129",
"EB0004,The wonderfull world of knowledge,149",
"EB0005,Maths(9-10 yr),149",
"EB0006,First Maths Glossary,169",
"EB0007,Animal world,169",
"EB0008,Questions kids ask,,119",
"EB0009,copy coloring,spiralbook,99",
"EB0010,Mr.bean's Stinky Sticker Atlas,99",
"EB0011,Dig dig,149",
"EB0012,best Nursery rhymrs ever,149",
"EB0013,my 1st book of garden wildlife,139",
"EB0014,illustrated english dictionary,299",
"EB0015,365 stroies and rhymes for Boys,199",
"EB0016,bath,book and bed,79",
"EB0017,peppas christmas coloring book,39",
"EB0018,nursery rhymes,129",
"EB0019,crafty ideas,39",
"EB0020,step by step paperfolding,90",
"EB0021,sticker fan,79",
"EB0022,paw patrol coloring,49",
"EB0023,365 things to make and do,250",
"EB0024,music lesson ,29",
"EB0025,paw patrol - ruff-ruff doodles,39",
"BH0001,chuggingston storybook collection,400",
"BH0002,freezing abc,200",
"BH0003,trotter street,400",
"BH0004,big book of things to make and do,400",
"BH0005,big book of english words,400",
"BH0006,1001 moster thing to spot,300",
"BH0007,mickey mouse story book collection,400",
"BH0008,the orchard baby and toddler collection,300",
"BH0009,my very first bible,250",
"BH0010,pooh's letter from hundred acre wood,250",
"BH0011,spanish english dictonory,150",
"BH0012,the jungle books,150",
"BH0013,finding dory,150",
"BH0014,children bible story,150",
"BH0015,free the tipple,150",
"BH0016,Cindrella,150",
"BH0017,up in the heaver,150",
"BH0018,prince brownie's shoes,150",
"BH0019,my first book of prayer,150",
"BH0020,humphrey's playing,99",
"B0001,GoodNight Everyone,200",
"B0002,Zoo Animals,180",
"B0003,I love you PUPPY,120",
"B0004,My thomas Potty Book,220",
"B0005,Golden Sound Story,250",
"B0006,the night before Christmas (2 copy),200",
"B0007,I can Share,200",
"B0008,Daisy the dolphine,90",
"B0009,That's not my unicorn,200",
"B0010,Where's Spot?,220",
"B0011,Finger Rhymes,250",
"B0012,my 1st alphabet,50",
"B0013,shapes,90",
"B0014,big &Small,90",
"B0015,row, row your boat,69",
"B0016,Pssst!,80",
"B0017,vivienne ,90",
"B0018,Numbers,60",
"B0019,shhh…julie Sykes tim warnes,90",
"B0020,tickle,80",
"B0021,I m just a baby stegosaur,69",
"B0022,maalla,30",
"B0023,shapes in the home,120",
"B0024,Gruffalo what can you,120",
"B0025,Dear Zoo,190",
"B0026,Hide &seek pig,220",
"B0027,swinging monkeys,120",
"B0028,Playtime,69",
"B0029,Bath time,69",
"B0030,Jack &the beanstalk,120",
"B0031,The 3 little pigs,200",
"B0032,big red the fire engine,50",
"B0033,Baby bears adventures,40",
"B0034,Harold To The Rescue,100",
"B0035,Little monsters book of numbers,100",
"B0036,Large Under the sea,180",
"B0037,Lets it some food,100",
"B0038,the 1st christmas,100",
"B0039,the very hungry caterpillar,120",
"B0040,Hide &seek pig,150",
"B0041,Bedtime rhymes,120",
"B0042,very busy spider,100",
"B0043,Jungle,70",
"B0044,Bear feels SAD,80",
"B0045,The snowman,120",
"B0046,little hourse,70",
"B0047,little miss sunshine,45",
"B0048,I can say sorry,45",
"B0049,spider sense,45",
"B0050,I can take turns,45",
"B0051,I can tidy up,45",
"B0052,animals,45",
"B0053,peppa pig set,80",
"B0054,little miss giggles,45",
"B0055,birds,45",
"B0056,colours,45",
"B0057,The Gruffalo,179"
        ]

        books.forEach(book => {
            arr = book.split(",")
            console.log(arr)
            fetch(`http:/127.0.0.1:3000/save/${arr[0]}/${arr[1]}/${arr[2]}`).then(res=>{document.body.innerHTML += res})
        });
    </script>
</body>
</html>